@import url("../assets/fonts/font.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'BrownRosemary'!important;
  background: var(--white);
  color: var(--black);
  overflow-x: hidden;
}
